@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Nunito&display=swap');
/*font-family: 'Kaushan Script', cursive;*/
/*font-family: 'Nunito', sans-serif;*/

body{
    font-family: 'Nunito', sans-serif;
    background-color: rgba(208, 183, 255, 0.1);


    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
/*Хедер*/
.menu__item {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kaushan Script', cursive;
}

.logo{
    width: 3em;
    align-content: center;
    margin-top: 10px;
}
.header {
    background: #ffd2db;
}
.menu{
    margin-top: 20px;
}
.menu__item {
    margin: 10px 20px;

}
.menu__item a {
    font-size: 18px;
    color: #4e4e4e;
    text-decoration: none;
}

.menu__item a :hover {
    color: #ffffff;
}
.about__title{
    margin-top: 1em;
}

/*about страница */


.about__info{
    margin-top: 2em;
}
.adout__text{
    margin-top: 2em;
}
.list {
    list-style-type: circle;
}
.btn-primary{
    background-color: #ffd2db;
    border-color: #ff9cd3;
    color: #4e4e4e;
}

 .btn-primary:focus  {
    background-color: #ffffff;
    border-color: #ff9cd3;
    color: #4e4e4e;
}
.btn-primary:hover {
    background-color: #ffffff;
    border-color: #ff9cd3;
    color: #4e4e4e;
}
.card-body{
    background-color: #ffd2db;
}
.picture{
    width: 80%;
}
.icon-brand{
    color: #4e4e4e;
    font-size: 30px;
    margin-right: 30px;
    padding: 10px 0;
}
.icon__content :hover{
    color: #ffd2db;
}

/*experience страница */

.experience{
    /*background-color: rgba(67, 70, 105, 0.36);*/
    background-color: rgba(255, 210, 219, 0.29);
}



.icon-item {
    width: 5em;
    color: #4e4e4e;
}
.graduate{
    width: 400px;
}
.exp__text{
 margin-bottom: 50px;
}


/*Страница с видио */


.intro {
    max-height: 70vh;
    overflow: hidden;
    position: relative;
}
.video {
    position: relative;
    z-index: 1;
    padding-bottom: 60%;

}
.video__media{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
/*!*маска *!*/
/*.intro:after {*/
/*    content: "";*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 2;*/

/*    background-color: rgba(255, 210, 219, 0.53);*/

/*}*/

.intro__content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;

}

.intro__bgd {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.74);
    z-index: 4;
    width: 1110px;
    height: 100%;
    padding-left: 12em;
}
.intro__title h2{
    margin: 9em 0 10px ;
}

.credits__name{
    padding-left:4em;
}
